---
import BaseLayout from '../layouts/BaseLayout.astro'
import LandingHero from '../components/LandingHero/LandingHero';
import ApplySection from '../components/ApplySection/ApplySection';
import PaperSection from '../components/PaperSection/PaperSection';

const { content } = Astro.props;
---
<BaseLayout title={content.title} >
    <LandingHero/>
    <ApplySection/>
    <PaperSection>
        <span id='hakkimizda' class='anchor'></span>
        <slot/>
    </PaperSection>
</BaseLayout>

<style>
    .anchor {
        position: absolute;
        transform: translateY(-6rem);
    }
</style>